@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #747474;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2300e4ff' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

div.cartao{
    position: relative;
    background-image: linear-gradient(to bottom, black, #747474);
    max-width: 320px;
    min-height: 750px;
    height: 95vh;
    margin: auto;
    border: #00e4ff solid;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.651);
}
div.cartao > h1{
    font-weight: bolder;
    color: white;
    text-align: center;
}
div.foto > img{
    display: block;
    max-width: 200px;
    border: #00e4ff solid;
    border-radius: 50%;
    margin:auto;
}
div>h2{
    color: white;
    margin: 20px 5px;
    font-weight: bolder;
    text-align: justify;
    text-indent:15px;
}
div p{
    color: white;
    font-size: 1em;
    text-align: justify;
    margin: 20px;
    text-indent: 15px;
}
div.menu {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%);
  
}
.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    padding: 30px;
    width: 90px;
    height: 90px;
    outline: none;
    border: #00e4ff solid;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }

  .card1 img{
    margin: -1px 0px 0px -7px;
    width: 35px;
    height: 30px;
  }
  
  .instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
  }
  
  .card2 {
    padding: 30px;
    width: 90px;
    height: 90px;
    outline: none;
    border: #00e4ff solid;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }

  .card2 img{
    margin: -16px 0px 0px -18px;
    width: 60px;
    height: 60px;
  }
  
  .twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
  }
  
  .card3 {
    padding: 30px;
    width: 90px;
    height: 90px;
    outline: none;
    border: #00e4ff solid;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }

  .card3  img {
    margin: -10px 0px 0px -9px;
    width: 45px;
    height: 45px;
  }
  .github {
    margin-top: -.6em;
    margin-left: 1.2em;
  }
  
  .card4 {
    padding: 30px;
    width: 90px;
    height: 90px;
    outline: none;
    border: #00e4ff solid;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }

  .card4  img {
    margin: -10px 0px 0px -12px;
    width: 50px;
    height: 50px;
  }
  
  .discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #e6234d94;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #07d61891;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: rgba(0, 0, 0, 0.274);
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
  }
  
  .card4:hover .discord {
    fill: white;
  }